<h1>Bitcoin Dictinary</h1>
<p>
	The Bitcoin Dictionary is a collection of definitions of Bitcoin-related terms for the community of Bitcoin users, developers, and businesses as well as anyone interested in Bitcoin.
</p>
<p>
	The problem this project aims to solve is that there is no single authoritative source standardised definition of the terms that the people in the Bitcoin space are continually coming up with. We attempt solve this problem by putting the definitions of all the Bitcoin-related terms in one place.
</p>

<h2>Contributing</h2>

<p>
	To contribute to this repository, please fork the <%= link_to("Github repository", "https://github.com/BitcoinDictionary/bitcoindictionary") %> and make changes to your forked copy, then submit a pull request. Or alternatively, if you cannot use the github.com pull request system, submit an Issue from the menu on the right. Major contributions will receive an acknowledgment in the preface of the book, on the website and on the mobile apps.
</p>
<p>
	Contributors will also received some bitcoins for every pull request that gets accepted
</p>

<h2>Sponsors</h2>

<p>
	Sponsors of this project can donate via Bitcoin <%= link_to("here", "https://tip4commit.com/github/BitcoinDictionary/bitcoindictionary") %>
</p>