<h1>Contributing</h1>

<p>
	To contribute to this repository, please fork the <%= link_to("Github repository", "https://github.com/BitcoinDictionary/bitcoindictionary") %> and make changes to your forked copy, then submit a pull request. Or alternatively, if you cannot use the github.com pull request system, submit an Issue from the menu on the right. Major contributions will receive an acknowledgment in the preface of the book, on the website and on the mobile apps.
</p>
<p>
	Contributors will also received some bitcoins for every pull request that gets accepted
</p>

<h2>Sponsors</h2>

<p>
	Sponsors of this project can donate via Bitcoin <%= link_to("here", "https://tip4commit.com/github/BitcoinDictionary/bitcoindictionary") %>
</p>