<h1>About</h1>
<p>
	The Bitcoin Dictionary is a collection of definitions of Bitcoin-related terms for the community of Bitcoin users, developers, and businesses as well as anyone interested in Bitcoin.
</p>
<p>
	The problem this project aims to solve is that there is no single authoritative source standardised definition of the terms that the people in the Bitcoin space are continually coming up with. We attempt solve this problem by putting the definitions of all the Bitcoin-related terms in one place.
</p>
